[submodule "dex_builder"]
	path = lsplant/src/main/jni/external/dex_builder
	url = https://github.com/LSPosed/DexBuilder.git
	branch = master
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	branch = v2.4.1
[submodule "test/src/main/jni/external/xDL"]
	path = test/src/main/jni/external/xDL
	url = https://github.com/hexhacking/xDL
[submodule "test/src/main/jni/external/xz-embedded"]
	path = test/src/main/jni/external/xz-embedded
	url = https://github.com/tukaani-project/xz-embedded
[submodule "test/src/main/jni/external/Dobby"]
	path = test/src/main/jni/external/Dobby
	url = https://github.com/JingMatrix/Dobby
[submodule "test/src/main/jni/external/riscv64-inline-hook"]
	path = test/src/main/jni/external/riscv64-inline-hook
	url = https://github.com/eirv/riscv64-inline-hook
